.copyButton {
  background: transparent;
  border: none;
}

.copyIcon {
  height: 20px;
  right: 0;
  bottom: 0;
  margin-left: 1rem;
  cursor: pointer;
}

.pasteIcon {
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.pasteButton {
  background-color: transparent;
  border: none;
  position: absolute;
  height: 100%;
  right: 5px;
  top: 0;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
